<div class="container">
    <div class="row">
      <div class="col-sm-4">
          <div class="img">
            <img src="assets\images\gaming.jpg" class="img-fluid" alt="...">
          </div>
        
      </div>
      <div class="col-sm-8">
         <div class="heading">
            <h1>Product heading</h1>
         </div> 
         <div class="points">
             <ul>
                 <li>p1</li>
                 <li>p2</li>
                 <li>p3</li>
                 <li>p4</li>
             </ul> 
         </div>
        <div class="prise">
            prize
        </div>
        <div class="addcart">
            <button>add to cart</button>
        </div>
      </div>
    </div>
</div>