<mat-card class="grid-box" *ngFor="let tempProduct of products | async">


    <mat-card-content>
        <img mat-card-image src="{{ tempProduct.imageUrl }}" alt="Systems" id="pimg">

        
        <div class="price">
            <h2>{{ tempProduct.name }}</h2>
            <p>{{ tempProduct.price | currency:'INR' }}</p></div>
        <mat-card-actions id="button">
            <button mat-raised-button color="warn"  (click)="addToCart(tempProduct)">Proceed to checkout</button>
        </mat-card-actions>
    </mat-card-content>

</mat-card>
