<div class="about-section">
    <h1>About Us</h1>
    <p>Some text about who we are and what we do.</p>
    
</div>
  
  <h2 style="text-align:center">Our Team</h2>

  <mat-card class="grid-box">
    <mat-card-content>
      <img mat-card-image src='assets\images\ronak.jpeg' alt="Photo of a Shiba Inu">
      <p class="title">contact no:9157304803</p>
            <p class="title">email:ronaksuchak04@gmail.com</p>
      <mat-card-actions>
        &nbsp;&nbsp;
        <button mat-raised-button color="warn"><a href="https://www.linkedin.com/in/ronak-suchak
          ronak.suchak.4@gmail.com">contact</a>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-card class="grid-box">
    <mat-card-content>
      <img mat-card-image src='assets\images\neha.jpeg' alt="Photo of a Shiba Inu">
      <p class="title">contact no:8770364788</p>
          <p class="title">email:nehakumari895@yahoo.com</p>
      <mat-card-actions>
        &nbsp;&nbsp;
        <button mat-raised-button color="warn"><a href="https://www.linkedin.com/in/neha-kumari-9b413718b/">contact</a>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
    
  <mat-card class="grid-box">
    <mat-card-content>
      <img mat-card-image src='assets\images\radhika.jpeg' alt="Photo of a Shiba Inu">
          <p class="title">contact no:9284387010</p>
          <p class="title">email:radhikasathe1803@gmail.com</p>
          <mat-card-actions>
            &nbsp;&nbsp;
          <button  mat-raised-button color="warn"><a href="https://www.linkedin.com/in/radhika-sathe-b61664177/">contact</a></button>
          </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-card class="grid-box">
    <mat-card-content>
      <img mat-card-image src='assets\images\priyanka.jpeg' alt="Photo of a Shiba Inu">
      <p class="title">contact no:7767053602</p>
      <p class="title">email:priyankagugale7@gmail.com</p>
          <mat-card-actions>
            &nbsp;&nbsp;
            <button  mat-raised-button color="warn"><a href="https://www.linkedin.com/in/priyanka-gugale-45b9b8205/">contact</a></button>
          </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-card class="grid-box">
    <mat-card-content>
      <img mat-card-image src='assets\images\krismin.jpeg' alt="Photo of a Shiba Inu">
      <p class="title">contact no:7990602198</p>
      <p class="title">email:vekariyakrismin@gmail.com</p>
          <mat-card-actions>
            &nbsp;&nbsp;
            <button  mat-raised-button color="warn"><a href="https://www.linkedin.com/in/krismin-vekariya-692955141/">contact</a></button>
          </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-card class="grid-box">
    <mat-card-content>
      <img mat-card-image src='assets\images\saurabh.jpeg' alt="Photo of a Shiba Inu">
      <p class="title">contact no:7709052609</p>
      <p class="title">email:saurabhpatil1508@gmail.com</p>
          <mat-card-actions>
            &nbsp;&nbsp;
            <button  mat-raised-button color="warn"><a href="https://www.linkedin.com/in/saurabh-patil-93601318b/">contact</a></button>
          </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-card class="grid-box">
    <mat-card-content>
      <img mat-card-image src='assets\images\kunal.jpeg' alt="Photo of a Shiba Inu">
      <p class="title">contact no:7748813343</p>
      <p class="title">email:kunal1058@gmail.com</p>
          <mat-card-actions>
            &nbsp;&nbsp;
            <button  mat-raised-button color="warn"><a href="https://www.linkedin.com/in/kunal-mishra-511204120/">contact</a></button>

          </mat-card-actions>
    </mat-card-content>
  </mat-card>