.full-width {
    width: 100%;
  }
  form{
    height: 65.7%;
  }
  .shipping-card {
    width: 30%;
    margin: 40px auto;
   
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  .col:last-child {
    margin-right: 0;
  }
  
  img,h3{
    margin-left: 30%;
  }