
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $buildinonego-primary: mat-palette($mat-indigo);
// $buildinonego-accent: mat-palette($mat-pink, A200, A100, A400);

// $buildinonego-warn: mat-palette($mat-red);

// $buildinonego-theme: mat-light-theme((
//   color: (
//     primary: $buildinonego-primary,
//     accent: $buildinonego-accent,
//     warn: $buildinonego-warn,
//   )
// ));

$buildinonego-primary-dark: mat-palette($mat-teal);
$buildinonego-accent-dark: mat-palette($mat-yellow);
$buildinonego-warn-dark: mat-palette($mat-red);

$buildinonego-theme-dark: mat-dark-theme((
  color: (
    primary: $buildinonego-primary-dark,
    accent: $buildinonego-accent-dark,
    warn: $buildinonego-warn-dark,
  )
));

@include angular-material-theme($buildinonego-theme-dark);

